/* CSS Document */


.infocon_box p{ height:35px; line-height:35px; color:#0052a0; font-size:14px;}
.infocon_box p .nc{ width:100px; height:24px;line-height:24px;}
.infocon_box p .change_yx{color:#0052a0; }
.infocon_box p .yxipt{height:24px; line-height:24px; width:150px;}


